@{
    ViewData["Title"] = "Đăng nhập";
}
<section class="checkout spad" style="padding-top:0px">
    <div class="container">
        <div class="checkout__form">
            <h4>Đăng nhập</h4>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                <div class="row">
                    <div class="col-lg-3 col-md-3"></div>
                    <div class="col-lg-6 col-md-6">
                        <div class="row" style="color:red; padding-left:14px; padding-bottom:15px">@ViewData["ErrorLogin"]</div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Tài khoản<span>*</span></p>
                                    <input type="text" name="UserName" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Mật khẩu<span>*</span></p>
                                    <input type="password" name="PassWord" required>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-left:12px; padding-bottom:15px;margin-top: -15px;">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                                 <a asp-controller="Account" asp-action="ForgotPassword">Quên mật khẩu</a>
                            </div>
                        </div>

                        <div class="checkout__input">
                            <input type="submit" value="Đăng nhập">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3"></div>

                </div>
            }
        </div>
    </div>
</section>

