
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="Home/Index" style="display:block;margin-bottom:30px; text-align:center"><img src="~/img/page-not-found.jpg" style="width:50%"/></a>

